[package]
name = "nvml_native"
version = "0.1.0"
authors = []
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
rustler = "0.37.0"
nvml-wrapper = { git = "https://github.com/rust-nvml/nvml-wrapper", branch = "main" }
